body {
    margin: 0;
    background-color: aquamarine;
}
.user-page {
    display: flex;
    flex-direction: column;
    align-items: left; /* Center items horizontally */
    min-height: 100vh; /* Set the minimum height of the container to fill the viewport */
}
  
  .header {
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Center the text within the header */
    margin-bottom: 20px; /* Optional: Add some space between the header and the content below */
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Adjust the width as needed */
  }
  
  .items-container {
    flex: 1;
  }
  
  .selected-item-card {
    flex: 1;
    margin-left: 0px; /* Add spacing between the two columns */
    max-width: 500px;
    word-wrap: break-word
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .items-and-selected-container {
    display: flex;
    gap: 20px; /* Adjust the gap between items and the selected item card */
    /* Add other styles as needed */
  }